<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <title>{{ if .IsHome }}{{ .Site.Title }}{{else}}{{ .Site.Title }} - {{ .Title }}{{ end }}</title>
    <base href="{{ .Site.BaseURL }}">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" media="all" href="https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/my.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ if not .Site.BuildDrafts }}{{ template "_internal/google_analytics.html" . }}{{ end }}

    <!-- Plugin styles -->

<script src="js/highcharts.js"></script>
<script src="js/data.js"></script>
<script src="js/series-label.js"></script>
<script src="js/exporting.js"></script>
<script src="js/export-data.js"></script>
<script src="js/accessibility.js"></script>

<!--  jQuery v3.0.0-beta1 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>

<style>
.btn:hover {
color: #fff !important;
text-decoration: none;
}
</style>


<script>
$.getJSON('data/overview.json', function (response) {
  $('#my-table').dynatable({
  dataset: {
    records: response
  },
      });
});

function tableAppear(date, ASN){
    tnodes.style.display = "block";
    $('html,body').animate({
        scrollTop: $("#tnodes").offset().top},
    'slow');

    var newDate = new Date(date);
    console.log(newDate.toISOString().slice(0, 10));

    $.getJSON('data/tnodes/asn-tnodes-' + ASN + '.json', function (response) {
      var items = response;
      items = response.filter(function(obj) {
        return obj.date === newDate.toISOString().slice(0,10);
    });

  var dynatable = $('#tnodes-table').dynatable({
      dataset: {
        records: items
      },
      features: {
        search:false,
                      paginate: false,

      },
    }).data("dynatable");
    dynatable.settings.dataset.originalRecords =  items;
      dynatable.process();
});
}

</script>

  <body class="container">
    {{ partial "nav.html" . }}
    {{ partial "header.html" . }}
    {{ partial "draft.html" . }}
    {{ partial "noscript.html" . }}
    <main class="container-fluid">
      {{ block "main" . }}
      {{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ if not .Site.BuildDrafts }}{{ partial "statcounter.html" . }}{{ end }}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.1.12.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.dynatable.js"></script>
  </body>
</html>
